/* tampilan tablet */

/* namabah breakpoint di maksimal lebar 1000px */
@media (max-width: 1170px) {

    /* nambah css untuk bagian lesson */
    .lesson {
        width: 50%;
    }

    .top-wrapper h1 {
        font-size: 30px;
    }

    .top-wrapper p {
        font-size: 24px;
    }

    .menu-icon {
        display: none !important;
    }

    .header-right {
        display: block;
    }

}

/* maksimal lebar 670px */
@media (max-width: 670px) {

    .lesson {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .facebook {
        margin-bottom: 10px;
    }

    .top-wrapper h1 {
        font-size: 24px;
    }

    .top-wrapper p {
        font-size: 14px;
    }

    .menu-icon {
        display: block !important;
    }

    .header-right {
        display: none;
    }

}